<section class="gallery-block gallery-front">
  <div class="container">
    <div class="row" >
      <div class="card" style="width: 33rem; margin: 20px; ">
        <img src="../../../../../assets/images/conference1.jpg" class="card-img-top" alt="First slide">
        <div class="card-body">
          <h5 class="card-title">Gathering of thieves</h5>
          <p class="card-text">Best for thieves</p>
          <a class="btn btn-danger" routerLink="/confbook" ><span>CHECK RATES</span></a>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
        <img src="../../../../../assets/images/conference2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Assembly Hall</h5>
          <p class="card-text">200 places</p>
          <a class="btn btn-danger" routerLink="/confbook" ><span>CHECK RATES</span></a>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
        <img src="../../../../../assets/images/conference3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title ">Alcopone lounge</h5>
          <p class="card-text" size="">150 places, dance floor</p>
          <a class="btn btn-danger" routerLink="/confbook" ><span>CHECK RATES</span></a>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
        <img src="../../../../../assets/images/conference4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Meeting room</h5>
          <p class="card-text">20 places, TV, projector</p>
          <a class="btn btn-danger" routerLink="/confbook" ><span>CHECK RATES</span></a>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
        <img src="../../../../../assets/images/conference5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lecture room</h5>
          <p class="card-text">80 places, TV, projector</p>
          <a class="btn btn-danger" routerLink="/confbook" ><span>CHECK RATES</span></a>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
        <img src="../../../../../assets/images/conference6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Presidential Assembly Hall</h5>
          <p class="card-text">150 places, best solution</p>
          <a class="btn btn-danger" routerLink="/confbook" ><span>CHECK RATES</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
