<app-adminheader></app-adminheader>

<section class="contact-block">
  <div class="container">
    <div class="list-group full-width-div  col-12 table-responsive">
      <table class="table">
        <tr><th>
          <h2>First name</h2>
          <h5>Antoha</h5>
        </th>
          <th>
            <h2>Last Name</h2>
            <h5>Boolean</h5>
          </th>
          <th>
            <h2>Login</h2>
            <h5>lol@lol.g</h5>
          </th><th>
            <h2>Mobile number</h2>
            <h5>+3752912458613</h5>
          </th>
          <th>
            <h2>Birth date</h2>
            <h5>25.02.2012</h5>
          </th></tr>
      </table>
    </div>
  </div>
</section>

<app-footer></app-footer>
