<app-adminheader></app-adminheader>

<section class="contact-block">
  <div class="container">
    <h1>Список пользователей</h1>
    <div class="list-group full-width-div  col-12 table-responsive">
      <table class="table">
        <tr>
          <th><h2>#</h2></th>
          <th><h2>Роль</h2></th>
          <th><h2>Имя</h2></th>
          <th><h2>Фамилия</h2></th>
          <th><h2>Email</h2></th>
          <th><h2>Мобильный номер</h2></th>
          <th><h2>Дата рождет</h2></th>
        </tr>
        <tr *ngFor="let user of users; let i = index">
          <th>
            <h5>{{i+1}}</h5>
          </th>
          <th>
            <h5>{{user.role == 0 ? "User" : "Admin"}}</h5>
          </th>
          <th>
            <h5>{{user.firstName}}</h5>
          </th>
          <th>
            <h5>{{user.lastName}}</h5>
          </th>
          <th>
            <h5>{{user.email}}</h5>
          </th>
          <th>
            <h5>{{user.mobileNumber}}</h5>
          </th>
          <th>
            <h5>{{user.birthDate}}</h5>
          </th>
          <th>
            <button class="btn danger">Добавить в ЧС</button>
          </th>
        </tr>
      </table>
    </div>
  </div>
</section>

<app-footer></app-footer>
