<app-adminheader></app-adminheader>

<section class="contact-block">
  <div class="container">
    <div class="list-group full-width-div  col-12 table-responsive">
      <table class="table">
        <tr>
          <th><h2>#</h2></th>
          <th><h2>First name</h2></th>
          <th><h2>Second Name</h2></th>
          <th><h2>Email</h2></th>
          <th><h2>Mobile number</h2></th>
          <th><h2>Birth date</h2></th>
        </tr>
        <tr *ngFor="let user of users; let i = index">
          <th>
            <h5>{{i+1}}</h5>
          </th>
          <th>
            <h5>{{user.firstName}}</h5>
          </th>
          <th>
            <h5>{{user.lastName}}</h5>
          </th>
          <th>
            <h5>{{user.email}}</h5>
          </th>
          <th>
            <h5>{{user.mobileNumber}}</h5>
          </th>
          <th>
            <h5>{{user.birthDate}}</h5>
          </th>
        </tr>
      </table>
    </div>
  </div>
</section>

<app-footer></app-footer>
