<header class="header-container">
  <div class="container">
    <div class="top-row">
      <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-6">
          <div id="logo">
            <!--<a href="index.html"><img src="images/logo.png" alt="logo"></a>-->
            <a href="index.html">
              <img src="../../../../../assets/images/37partners.png" height="120" width="120"/>
            </a>
          </div>
        </div>
        <div class="col-sm-6 visible-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal" data-target="#exampleModal">Sign in</button></div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
          <nav class="navbar navbar-default">
            <div class="navbar-header page-scroll">
              <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
              <ul class="list-unstyled nav1 cl-effect-10">
                <li><a  data-hover="Home" routerLink=""><span>Home</span></a></li>
                <li><a data-hover="About"  routerLink="/about"><span>About</span></a></li>
                <li><a data-hover="Rooms"  routerLink="/rooms"><span>Rooms</span></a></li>
                <li><a data-hover="Events"  routerLink="/events"><span>Events</span></a></li>
                <li><a data-hover="Conference" routerLink="/conference"><span>Conference</span></a></li>
                <li><a data-hover="Reviews" routerLink="/review"><span>Reviews</span></a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal" data-target="#exampleModal">Sign in</button></div>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!--<div class="modal-body">-->
        <!--<div class="input-group mb-3">-->
          <!--<div class="input-group-prepend">-->
            <!--<span class="input-group-text" id="basic-addon1">login</span>-->
          <!--</div>-->
          <!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
        <!--</div>-->
        <!--<div class="input-group mb-3">-->
          <!--<div class="input-group-prepend">-->
            <!--<span class="input-group-text" id="basic-addon2">password</span>-->
          <!--</div>-->
          <!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
          <!--<button type="button" class="btn btn-danger" >Log in</button>-->
          <!--<br/>-->
          <!--<button type="button" class="btn btn-danger">Registration</button>-->
        <!--</div>-->
      <!--</div>-->
      <div class="myform form ">
        <div class="logo mb-3">
          <div class="col-md-12 text-center">
            <h1>Login</h1>
          </div>
        </div>
        <form action="" method="post" name="login">
          <div class="form-group">
            <h5>Email address</h5>
            <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <h5>Password</h5>
            <input type="password" name="password" id="password"   class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
          </div>
          <div class="form-group">
            <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
          </div>
          <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-danger tx-tfm">Login</button>
          </div>
          <div class="form-group">
            <p class="text-center">Don't have account? <a href="#" class="btn btn-danger" >Sign up </a></p>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
