<header class="header-container">
  <div class="container">
    <div class="top-row">
      <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-6">
          <div id="logo">
            <a href="index.html">
              <img src="../../../../../assets/images/37partners.png" height="120" width="120"/>
            </a>
          </div>
        </div>
        <div class="col-sm-6 visible-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal" data-target="#exampleModal" *ngIf="auth.user == null">Войти</button></div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
          <nav class="navbar navbar-default">
            <div class="navbar-header page-scroll">
              <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Переключить навигацию</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
              <ul class="list-unstyled nav1 cl-effect-10">
                <li><a  data-hover="Домой" routerLink=""><span>Домой</span></a></li>
                <li><a data-hover="О нас"  routerLink="/about"><span>О нас</span></a></li>
                <li><a data-hover="Комнаты"  routerLink="/rooms"><span>Комнаты</span></a></li>
                <li><a data-hover="Мероприятия"  routerLink="/events"><span>Мероприятия</span></a></li>
                <li><a data-hover="Конференции" routerLink="/conference"><span>Конференции</span></a></li>
                <li><a data-hover="Отзывы" routerLink="/review"><span>Отзывы</span></a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm" *ngIf="auth.user == null">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal" data-target="#exampleModal">Войти</button></div>
        </div>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm" *ngIf="auth.user != null">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/profile">Профиль</a></button></div>
        </div>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm" *ngIf="auth.user != null">
          <div class="text-right"><button type="button" class="book-now-btn" (click)="logOut()">Выйти</button></div>
        </div>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm" *ngIf="isAdmin">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/adminmenu">Адм. меню</a></button></div>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="myform form ">
        <div class="logo mb-3">
          <div class="col-md-12 text-center">
            <h1>Login</h1>
          </div>
        </div>
        <form name="login" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <h5>Email address</h5>
            <input type="text" name="login" class="form-control" id="inputLogin" #login="ngModel" placeholder="Login"
              [(ngModel)]="loginUser.login" required minlength="4" autocomplete="off">
            <small [hidden]="login.valid || login.untouched" class="text-danger">Логин не верный</small>
          </div>
          <div class="form-group">
            <h5>Password</h5>
            <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Enter password"
              [(ngModel)]="loginUser.password" required minlength="4" #password="ngModel">
            <small [hidden]="password.valid || password.untouched" class="text-danger">Пароль не верный</small>
          </div>
          <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-danger tx-tfm">Логин</button>
          </div>
          <div class="form-group">
            <p class="text-center">У вас нет аккаунта? <a  routerLink="/registration" class="btn btn-danger"  data-dismiss="modal">Зарегистрироваться</a></p>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>


