<div class="card text-center">
  <div class="card-header">
    <img src="../../../../../assets/images/pinpong.jpg"  alt="..." >
  </div>
  <div class="card-body">
    <h5 class="card-title">Pin-pong</h5>
    <p class="card-text">pip pong competition for best matherfuckers.</p>
    <a routerLink="/eventbook" class="btn-lg  btn-danger">Go to event</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    <img src="../../../../../assets/images/javaevent.jpg"  alt="..." >
  </div>
  <div class="card-body">
    <h5 class="card-title">java meetup</h5>
    <p class="card-text">java meet up for bsuir students.</p>
    <a routerLink="/eventbook" class="btn-lg btn-danger">Go to event</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
