<section class="contact-block">
  <div class="container">
    <div class="list-group full-width-div  col-10 table-responsive">

      <div class="userinfo col-sm">
        <form action="" method="post" name="registration" class="regblank">
          <h1 style="color: #ff4157; font-size: 50px">Name of event</h1>
          <h3 class="regblank">Name surname</h3>
      <table>
        <tr>
          <td>
            <label for="adult">Adult</label>
            <select id="adult" class="form-control form-control-lg col-3 "  >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>
          <td>
            <label for="child">Child</label>
            <select id="child" class="form-control form-control-lg col-3 " >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>
        </tr>
      </table>

        <!--<h1 style="color: #ff4157; padding: 20px 0px 20px;font-size: 40px">Prise: 999 $</h1>-->
      </form>
      <div class="text-center mx-auto">
        <button type="submit" class=" btn btn-block btn-danger btn-lg ">Register</button>
      </div>
      </div>
    </div>
  </div>
</section>
