<app-adminheader></app-adminheader>

<section class="image-head-wrapper" style="background-image: url('../../../../../../assets/images/banneradmin.jpg');">
  <div class="inner-wrapper">
    <h1>Администрирование</h1>
  </div>
</section>

<div class="container">
  <table class="table">
    <tr>
      <th>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/roomlist">Список комнат</a></button></div>
        </div>
      </th>
      <th>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/addroom">Добавить комнату</a></button></div>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/eventlist">Список мероприятий</a></button></div>
        </div>
      </th>
      <th>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/addevent">Добавить мероприятие</a></button></div>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/userlist">Список пользователей</a></button></div>
        </div>
      </th>
      <th>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/addadmin">Добавить администратора</a></button></div>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/blacklist">Черный лист</a></button></div>
        </div>
      </th>
      <th>

      </th>
    </tr>
  </table>
</div>

<app-footer></app-footer>
