<app-adminheader></app-adminheader>

<section class="image-head-wrapper" style="background-image: url('../../../../../../assets/images/banneradmin.jpg');">
  <div class="inner-wrapper">
    <h1>Administrating</h1>
  </div>
</section>

<div class="container">
  <table class="table">
    <tr>
      <th>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/roomlist">Room list</a></button></div>
        </div>
      </th>
      <th>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/addroom">Add Room</a></button></div>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/eventlist">Event List</a></button></div>
        </div>
      </th>
      <th>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/addevent">Add Event</a></button></div>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
          <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/conflist">Conference List</a></button></div>
        </div>
      </th>
    </tr>
  </table>
</div>

<app-footer></app-footer>
