<section class="contact-block">
  <div class="container">
    <div class="row border border-danger col-12">
      <div class="col-sm">
        <section class="image-head-wrapper"
                 style="background-image: url('../../../../../assets/images/userid.jpg');">
          <div class="inner-wrapper">
            <h1>Profile</h1>
          </div>
        </section>
      </div>
      <div class="userinfo col-sm">
        <form action="" method="post" name="registration" class="regblank">
          <h1 style="color: #ff4157; font-size: 40px">{{userInfo.firstName}} {{userInfo.lastName}}</h1>
          <h3 class="regblank">Email address:</h3>
          <h2 class="regblank">{{userInfo.email}}</h2>
          <h3 class="regblank">Birth Date:</h3>
          <h2 class="regblank">{{userInfo.birthDate}}</h2>
          <h3 class="regblank">Mobile number:</h3>
          <h2 class="regblank">+{{userInfo.mobileNumber}}</h2>
        </form>
      </div>
      <div class="col-md-2  col-sm-4 col-xs-12 edit-position position-absolute">
        <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/reductprof">Edit</a></button></div>
      </div>
    </div>
  </div>
</section>
