<section class="gallery-block gallery-front">
  <div class="container">
    <div class="row" >
      <div class="card" style="width: 33rem; margin: 20px; ">
      <img src="../../../../../assets/images/room1.png" class="card-img-top" alt="First slide">
        <div class="card-body">
          <h5 class="card-title">Classic Room</h5>
          <p class="card-text">Guest room, 1 King, City view</p>
          <a class="btn btn-danger" routerLink="/roombook" ><span>CHECK RATES</span></a>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
      <img src="../../../../../assets/images/room2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Classic Riverside View</h5>
          <p class="card-text">Guest room, 1 King or 2 Queen, River view</p>
          <a class="btn btn-danger" routerLink="/roombook" ><span>CHECK RATES</span></a>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
      <img src="../../../../../assets/images/room3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title ">Hospitality Suite</h5>
          <p class="card-text" size="">Executive lounge access, 1 Bedroom Suite, 1 King, Sofa bed</p>
          <a class="btn btn-danger" routerLink="/roombook" ><span>CHECK RATES</span></a>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
        <img src="../../../../../assets/images/room5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Premium Suite</h5>
          <p class="card-text">Executive lounge access, 1 Bedroom Suite, 1 King</p>
          <a class="btn btn-danger" routerLink="/roombook" ><span>CHECK RATES</span></a>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
        <img src="../../../../../assets/images/roomroyal2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Suite</h5>
          <p class="card-text">Executive lounge access, 1 Bedroom Suite, 1 King, Sofa bed</p>
          <a class="btn btn-danger" routerLink="/roombook" ><span>CHECK RATES</span></a>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
        <img src="../../../../../assets/images/roomroyal1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Presidential Suite</h5>
          <p class="card-text">Executive lounge access, 2 Bedroom Suite</p>

          <a class="btn btn-danger" routerLink="/roombook" ><span>CHECK RATES</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
