<section class="gallery-block gallery-front">
  <div class="container">
    <div class="row" >
      <div class="card" style="width: 33rem; margin: 20px; ">
      <img src="../../../../../assets/images/room1.png" class="card-img-top" alt="First slide">
        <div class="card-body">
          <h5 class="card-title">Классический</h5>
          <p class="card-text">Номер, 1 Двусп. кровать (King)</p>
          <a class="btn btn-danger" routerLink="/roombook/cr" *ngIf="auth.user != null" ><span>Забронировать</span></a>
          <h5 class="text-danger" *ngIf="auth.user == null">Не авторизаваны!</h5>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
      <img src="../../../../../assets/images/room2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Классический с видом на море</h5>
          <p class="card-text">Номер, Вид на реку</p>
          <a class="btn btn-danger" routerLink="/roombook/crv" *ngIf="auth.user != null" ><span>Забронировать</span></a>
          <h5 class="text-danger" *ngIf="auth.user == null">Не авторизаваны!</h5>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
      <img src="../../../../../assets/images/room3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title ">Люкс Hospitality</h5>
          <p class="card-text" size="">1 спальня, 1 кровать размера King Size, диван-кровать</p>
          <a class="btn btn-danger" routerLink="/roombook/hs" *ngIf="auth.user != null"><span>Забронировать</span></a>
          <h5 class="text-danger" *ngIf="auth.user == null">Не авторизаваны!</h5>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
        <img src="../../../../../assets/images/room5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Люкс Premium</h5>
          <p class="card-text">Доступ в представительский лаундж, люкс с 1 спальней, 1 кровать размера "king-size"</p>
          <a class="btn btn-danger" routerLink="/roombook/pms" *ngIf="auth.user != null"><span>Забронировать</span></a>
          <h5 class="text-danger" *ngIf="auth.user == null">Не авторизаваны!</h5>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
        <img src="../../../../../assets/images/roomroyal2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Роскошный люкс</h5>
          <p class="card-text">Доступ в представительский лаундж, 2 спальня, 2 кровати размера King Size, диван-кровать, обсолютный сервис</p>
          <a class="btn btn-danger" routerLink="/roombook/ls" *ngIf="auth.user != null"><span>Забронировать</span></a>
          <h5 class="text-danger" *ngIf="auth.user == null">Не авторизаваны!</h5>
        </div>
      </div>
      <div class="card" style="width: 33rem; margin: 20px; ">
        <img src="../../../../../assets/images/roomroyal1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Президентский люкс</h5>
          <p class="card-text">Полный сервис, любые возможности</p>
          <a class="btn btn-danger" routerLink="/roombook/pds" *ngIf="auth.user != null"><span>Забронировать</span></a>
          <h5 class="text-danger" *ngIf="auth.user == null">Не авторизаваны!</h5>
        </div>
      </div>
    </div>
  </div>
</section>
