<section class="contact-block">
  <div class="container">
    <div class="row border border-danger col-10">
      <div class="col-sm">
        <section class="image-head-wrapper"
                 style="background-image: url('../../../../../assets/images/registration.jpg');">
          <div class="inner-wrapper">
            <h1>Registration</h1>
          </div>
        </section>
      </div>
      <div class="col-sm">
        <form action="" method="post" name="registration" class="regblank" [formGroup]="registerForm"
              (ngSubmit)="onSubmit()">
          <h5>Name</h5>
          <div class="input-group-prepend">
            <input type="text" name="firstName" [(ngModel)]="newUser.firstName" class="form-control"
                   id="firstname" placeholder="First Name" autocomplete="off" formControlName="firstName"
                   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
            <input type="text" name="second" [(ngModel)]="newUser.lastName" class="form-control"
                   id="secondname" placeholder="Second Name" autocomplete="off"  formControlName="lastName"
                   [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <h5>Login</h5>
          <div class="input-group-prepend">
            <input type="text" name="login" class="form-control" id="login" aria-describedby="emailHelp"
                   placeholder="login" (focusout)="ifExistsByLogin()"
                   [(ngModel)]="newUser.login" autocomplete="off"  formControlName="login"
                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
            <small *ngIf="userExistsByLogin" class="text-danger">This login is already exists</small>
            <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
              <div *ngIf="f.login.errors.required">Login is required</div>
            </div>
          </div>
          <h5>Email address</h5>
          <div class="input-group-prepend">
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                   (focusout)="ifExistsByEmail()" [(ngModel)]="newUser.email"
                   placeholder="email@email.com" autocomplete="off" (change)="userExistsByEmail = false"
                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email">
            <small *ngIf="userExistsByEmail" class="text-danger">This email is already exists</small>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>

          </div>
          <h5>Password</h5>
          <div class="input-group-prepend">
            <input type="password" name="password" [(ngModel)]="newUser.password" id="password"
                   class="form-control" placeholder=" Password" formControlName="password"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <h5>Birth Date</h5>
          <div class="input-group-prepend">
            <input type="date" name="bday" [(ngModel)]="newUser.birthDate" id="birthdate" class="form-control"
                   data-ng-model="data.StartDate" min="1940-01-01" max="2020-01-01" formControlName="birthdate"
                   [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }">
            <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
              <div *ngIf="f.birthdate.errors.required">Birth Date is required</div>
            </div>
          </div>
          <h5>Mobile number</h5>
          <div class="input-group-prepend">
            <input type="number" name="number" [(ngModel)]="newUser.mobileNumber" class="form-control"
                   id="number" placeholder="+375*********" formControlName="number"
            [ngClass]="{ 'is-invalid': submitted && f.number.errors }">
            <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
              <div *ngIf="f.number.errors.required">number is required</div>
              <div *ngIf="f.number.errors.minlength">number must be at least 6 characters</div>
            </div>
          </div>
          <div class="input-group-prepend mx-auto">
            <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
          </div>
          <div class="text-center mx-auto">
            <button type="submit" class=" btn btn-block mybtn btn-danger tx-tfm">Register</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>
