<section class="contact-block">
  <div class="container">
    <!--<div class="col-md-12 contact-form">-->

    <div class="row border border-danger col-10">
      <div class="col-sm">
        <section class="image-head-wrapper"
                 style="background-image: url('../../../../../assets/images/registration.jpg');">
          <div class="inner-wrapper">
            <h1>Registration</h1>
          </div>
        </section>
      </div>
      <div class="col-sm">
        <form action="" method="post" name="registration" class="regblank">
          <h5>Name</h5>
          <div class="input-group-prepend">
            <input type="email" name="first" class="form-control" id="firstname" aria-describedby=""
                   placeholder="First Name">
            <input type="email" name="second" class="form-control" id="secondname" aria-describedby=""
                   placeholder="Second Name">
          </div>
          <h5>Email address</h5>
          <div class="input-group-prepend">
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                   placeholder="email@email.com">
          </div>
          <h5>Password</h5>
          <div class="input-group-prepend">
            <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp"
                   placeholder=" Password">
          </div>
          <h5>Birth Date</h5>
          <div class="input-group-prepend">
            <input type="date" name="bday" id="birthdate" class="form-control" aria-describedby="emailHelp"
                   placeholder="">
          </div>
          <h5>Mobile number</h5>
          <div class="input-group-prepend">
            <input type="number" name="number" class="form-control" id="number" aria-describedby="emailHelp"
                   placeholder="+375(**)-***-**-**">
          </div>
          <div class="input-group-prepend mx-auto">
            <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
          </div>
          <div class="text-center mx-auto">
            <button type="submit" class=" btn btn-block mybtn btn-danger tx-tfm">Register</button>
          </div>
        </form>
      </div>
    </div>
    <!--</div>-->
  </div>
</section>
