<section class="resort-overview-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
        <div class="side-A">
          <div class="product-thumb">
            <div class="image">
              <a><img src="../../../../../assets/images/category1.png" class="img-responsive" alt="image"></a>
            </div>
          </div>
        </div>
        <div class="side-B">
          <div class="product-desc-side">
            <h3><a>Лухари СПА</a></h3>
            <p>Метод физиотерапии, связанный с водой. Иногда используется для обозначения таких понятий, как водолечение, бальнеотерапия, талассотерапия и даже псаммотерапия.</p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
        <div class="side-A">
          <div class="product-thumb">
            <div class="image">
              <a><img alt="image" class="img-responsive" src="../../../../../assets/images/category2.png"></a>
            </div>
          </div>
        </div>
        <div class="side-B">
          <div class="product-desc-side">
            <h3><a>Спорти́вный зал</a></h3>
            <p>Специально оборудованное помещение, в том числе инвентарём, и предназначенное для проведения тренировок, спортивных игр, занятий спортом или физической культурой. Спортзалы устраиваются практически во всех средних и высших учебных заведениях по всему миру.</p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
        <div class="side-A">
          <div class="product-desc-side">
            <h3><a>Лухари комнаты</a></h3>
            <p> помещение разного целевого назначения, часть пространства внутри жилого здания, ограниченное внутренними стенами от других помещений и проходов, как правило, оборудованное входной дверью и окнами.</p>
          </div>
        </div>

        <div class="side-B">
          <div class="product-thumb">
            <div class="image txt-rgt">
              <a class="arrow-left"><img src="../../../../../assets/images/category3.png" class="img-responsive" alt="imaga"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
        <div class="side-A">
          <div class="product-desc-side">
            <h3><a>Вкусная еда</a></h3>
            <p>Вкусная еда делает человека счастливее в любую эпоху. Когда люди собираются за трапезой, к которой приложил свои умения и таланты хороший повар, обеденный стол или стойка ресторанчика становится местом приятных встреч, усиливая взаимные симпатии. Ведь поесть «вкусно» — это всегда удовольствие.</p>
          </div>
        </div>

        <div class="side-B">
          <div class="product-thumb txt-rgt">
            <div class="image">
              <a class="arrow-left"><img src="../../../../../assets/images/category4.png" class="img-responsive" alt="imaga"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>
  </div>
</section>
