<app-adminheader></app-adminheader>

<div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
  <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/adminmenu">Admin menu</a></button></div>
</div>
<section class="contact-block">
  <div class="container">
    <div class="list-group full-width-div  col-12 table-responsive">
      <table class="table">
        <tr><th>
          <h2>Number</h2>
          <h5>999</h5>
        </th>
          <th>
            <h2>Type</h2>
            <h5>Classic Room</h5>
          </th>
          <th>
          <h2>Max person</h2>
          <h5>9</h5>
        </th><th>
          <h2>Prise</h2>
          <h5>999$</h5>
        </th>
          <th>
          <h2>Active</h2>
          <h5>0</h5>
        </th></tr>
      </table>
    </div>
  </div>
</section>

<app-footer></app-footer>
