<app-adminheader></app-adminheader>

<section class="contact-block">
  <div class="container">
    <div class="list-group full-width-div  col-12 table-responsive">
      <table class="table">
        <tr>
          <th><h2>#</h2></th>
          <th><h2>Number</h2></th>
          <th><h2>Type</h2></th>
          <th><h2>Max person</h2></th>
          <th><h2>Price</h2></th>
          <th><h2>Active</h2></th>
        </tr>

        <tr *ngFor="let room of rooms; let i = index">
          <th>
            <h5>{{i+1}}</h5>
          </th>
          <th>
            <h5>{{room.id}}</h5>
          </th>
          <th>
            <h5>{{room.roomType}}</h5>
          </th>
          <th>
            <h5>{{room.maxPersons}}</h5>
          </th>
          <th>
            <h5>{{room.price}}</h5>
          </th>
          <th>
            <h5>{{room.isActive == 1? "Yes":"No"}}</h5>
          </th>
        </tr>

      </table>
    </div>
  </div>
</section>

<app-footer></app-footer>
