<app-adminheader></app-adminheader>

<div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
  <div class="text-right"><button type="button" class="book-now-btn" data-toggle="modal"><a routerLink="/adminmenu">Admin menu</a></button></div>
</div>
<section class="contact-block">
  <div class="container">
    <div class="list-group full-width-div  col-12 table-responsive">
      <table class="table">
        <tr>
          <th><h2>#</h2></th>
          <th><h2>Number</h2></th>
          <th><h2>Type</h2></th>
          <th><h2>Max person</h2></th>
          <th><h2>Prise</h2></th>
          <th><h2>Active</h2></th>
        </tr>

        <tr *ngFor="let user of users; let i = index">
          <th>
            <h5>{{i+1}}</h5>
          </th>
          <th>
            <h5>{{room.id}}</h5>
          </th>
          <th>
            <h5>{{room.roomType}}</h5>
          </th>
          <th>
            <h5>{{room.maxPersons}}</h5>
          </th>
          <th>
            <h5>{{room.price}}</h5>
          </th>
          <th>
            <h5>{{room.isActive}}</h5>
          </th>
        </tr>

      </table>
    </div>
  </div>
</section>

<app-footer></app-footer>
