<!-----blog slider----->
<!--blog trainer block-->
<section class="blog-block-slider">
  <div class="blog-block-slider-fix-image">
    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
      <div class="container">
        <!-- Wrapper for slides -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel2" data-slide-to="1"></li>
          <li data-target="#myCarousel2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="blog-box">
              <p>Отдыхали неделю в этом отеле. И очень хотелось бы остаться еще! Номер дали с видом на огромный бассейн. В двух шагах пляж, на пляжу есть бар и безумно веселая анимация! Аня и Настя просто супер! Очень активные и всегда на позитиве!</p>
            </div>
            <div class="blog-view-box">
              <div class="media">
                <div class="media-left">
                  <img src="../../../../../assets/images/pacani/Banchinator.jpg" class="media-object"  class="img-circle" alt="Cinque Terre" width="100" height="100">
                </div>
                <div class="media-body">
                  <h3 class="media-heading blog-title">Ivan Sharafanovich</h3>
                  <h5 class="blog-rev">Satisfied Customer</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="blog-box">
              <p>Я в 37 партнерс уже не первый раз и была во многих отелях, про этот отель однозначно могу сказать что на свои звёзды он соответствует. Отдых пролетел на одном дыхании. Персонал отеля очень дружелюбный, общительный. В самом отеле все чисто, в номерах очень уютно и они большие, с соседями по номеру тоже повезло.</p>
            </div>
            <div class="blog-view-box">
              <div class="media">
                <div class="media-left">
                  <img src="../../../../../assets/images/pacani/Anton.jpg" class="media-object" class="img-circle" alt="Cinque Terre" width="100" height="100">
                </div>
                <div class="media-body">
                  <h3 class="media-heading blog-title">Anton Bulahov</h3>
                  <h5 class="blog-rev">Satisfied Customer</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="blog-box">
              <p>В 46ом году вернувшись домой с войны мне было совсем негде остановится, т.к. все Было разгромеленно. Но мне подвернулся этот отель. Лучшее что случалось со мной в жизни это отель 37 партнерс. С тех пор я каждый год посещаю отель!</p>
            </div>
            <div class="blog-view-box">
              <div class="media">
                <div class="media-left">
                  <img src="../../../../../assets/images/pacani/BaNO.jpg" class="media-object"  class="img-circle" alt="Cinque Terre" width="100" height="100">
                </div>
                <div class="media-body">
                  <h3 class="media-heading blog-title">Ivan Iliacov</h3>
                  <h5 class="blog-rev">Satisfied Customer</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
