<section class="contact-block">
  <div class="container">
    <div class="row border border-danger col-10">
      <div class="col-sm">
        <section class="image-head-wrapper"
                 style="background-image: url('../../../../../../assets/images/addroom.jpg');">
          <div class="inner-wrapper">
            <h1>Add ROOM</h1>
          </div>
        </section>
      </div>
      <div class="col-sm">
        <form (ngSubmit)="regNewRoom()" action="" method="post" name="registration" class="regblank" >
          <div class="form-group input-price">
            <label for="roomNumber">№:  &nbsp; </label>
            <input type="number" class="form-control col-2" id="roomNumber" name="Number" placeholder="1" min="0" max="10000" [(ngModel)]="newRoom.number">
          </div>
          <label for="child">Type of room</label>
          <select id="child" class="form-control form-control-lg col-6" name="roomType" [(ngModel)]="newRoom.roomType">
            <option>Classic Room</option>
            <option>Classic Riverside View</option>
            <option>Hospitality Suite</option>
            <option>Luxury Suite</option>
            <option>Presidential Suite</option>
          </select>
          <div class="form-group">
            <label for="inputNumPeople">Number of people</label>
            <input type="number" class="form-control col-2" id="inputNumPeople" name="NumPeople" placeholder="1" min="0" max="10" [(ngModel)]="newRoom.maxPersons">
          </div>
          <div class="custom-control custom-radio">
            <input type="checkbox" class="custom-control-input btn-danger" id="TV" name="RadiosTV" [(ngModel)]="newRoom.hasTv" value="false">
            <label class="custom-control-label" for="TV">TV</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="checkbox" class="custom-control-input btn-danger" id="fridge" name="RadiosFridge" [(ngModel)]="newRoom.hasFridge" value="false">
            <label class="custom-control-label" for="fridge">Fridge</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="checkbox" class="custom-control-input btn-danger" id="babyBad" name="RadiosBad" [(ngModel)]="newRoom.hasBabyBed" value="false">
            <label class="custom-control-label" for="babyBad">Baby bad</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="checkbox" class="custom-control-input btn-danger" id="bath" name="Bath" [(ngModel)]="newRoom.hasBath" value="false">
            <label class="custom-control-label" for="bath">Bath</label>
          </div>
          <div class="form-group input-price">
            <label for="inputPriceOfRoom">Price:  &nbsp; </label>
            <input type="number" class="form-control col-2" id="inputPriceOfRoom" name="Price" placeholder="1" min="0" max="10000" [(ngModel)]="newRoom.price">
            <h3>&nbsp; $</h3>
          </div>
          <div class="custom-control custom-radio" style="padding-top: 20px">
            <input type="checkbox" class="custom-control-input btn-danger" id="active" name="Active" [(ngModel)]="newRoom.isActive" value="false">
            <label class="custom-control-label" for="active">ACTIVE</label>
          </div>

          <div class="text-center mx-auto" style="padding: 20px">
            <button type="submit" class=" btn btn-block mybtn btn-danger tx-tfm">Commit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
