<!-- Include Required Prerequisites -->

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />

<!--modal-->
<div class="modal fade" id="toUpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="px-4 py-3">
        <div class="row">
          <label for="cardNum">Number on card</label>
          <input type="text" class="form-control" id="cardNum">
          <div class="invalid-feedback">Number is required</div>
        </div>
        <div class="row">
          <label for="cardName">Name on card</label>
          <input type="text" class="form-control" id="cardName">
          <small class="text-muted">Full name on your card</small>
          <div class="invalid-feedback">Name is required</div>
        </div>
        <div class="row">
          <div class="col p-0 mr-2">
            <label for="cardExp">Expiration</label>
            <input type="text" class="form-control" id="cardExp">
          </div>
          <div class="col p-0 ml-2">
            <label for="cardCVV">CVV</label>
            <input type="text" class="form-control" id="cardCVV">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-5">
            <label for="cardSum">Sum</label>
            <input type="text" class="form-control" id="cardSum" disabled value="{{priceAll}}">
          </div>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="roomNotExists">
          Подходящей комнаты нет!
        </div>
        <div class="d-flex justify-content-between mr-0 mt-3" *ngIf="!roomNotExists">
          <button type="submit" class="btn btn-primary col-2 btn-sm" (click)="makePayment()">Add</button>
          <button type="button" class="btn btn-danger col-2 btn-sm" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<section class="contact-block">
  <div class="container">
    <div class="list-group full-width-div  col-10 table-responsive">
      <form action="" method="post" name="reservation" class="regblank" (ngSubmit)="makeReservation()">
      <div class="userinfo col-sm">
          <h1 style="color: #ff4157; font-size: 40px">Тип: {{roomType}}</h1>
          <h3 class="regblank">{{auth.user.firstName}} {{auth.user.lastName}}</h3>
      </div>
      <table class="col-10">
        <tr>
          <td>
            <label class="start-finish" for="start">С:</label>
            <input  class="form-control col-8" type="date" id="start" name="trip-start"
                    value="date" [(ngModel)]="newReservation.dateFrom"
                   min="2019-01-01" max="2019-12-31">
                  <br>
            <label for="adult">Взрослые</label>
            <select id="adult" class="form-control form-control-lg col-3" name="child" [(ngModel)]="adult">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>
          <td>
            <label  class="start-finish" for="finish">По:</label>
            <input class="form-control col-8" type="date" id="finish" name="trip-start"
                   value="2020-07-22" [(ngModel)]="newReservation.dateTo"
                   min="2018-01-01" max="2019-12-31">
        <br>
            <label for="child">Дети</label>
            <select id="child" class="form-control form-control-lg col-3" name="adult" [(ngModel)]="child">
              <option >0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>
        </tr>
      </table>

      <div class="form-check row d-flex justify-content-start mt-5">
        <input class="form-check-input ml-4" type="checkbox" value="" id="tvCheck" name="TV" [(ngModel)]="hasTv">
        <label class="form-check-label ml-5" for="tvCheck">ТВ</label>
      </div>
      <div class="form-check row d-flex justify-content-start mt-2">
        <input class="form-check-input ml-4" type="checkbox" value="" id="fridgeCheck" name="fridge"[(ngModel)]="hasFridge">
        <label class="form-check-label ml-5" for="fridgeCheck">Холодильник</label>
      </div>
      <div class="form-check row d-flex justify-content-start mt-2">
        <input class="form-check-input ml-4" type="checkbox" value="" id="babybedCheck" name="babyBad" [(ngModel)]="hasBabyBed">
        <label class="form-check-label ml-5" for="babybedCheck">Детская кровать</label>
      </div>
      <div class="form-check row d-flex justify-content-start mt-2">
        <input class="form-check-input ml-4" type="checkbox" value="" id="BathCheck" name="bath" [(ngModel)]="hasBath">
        <label class="form-check-label ml-5" for="BathCheck">Ванная</label>
      </div>
        <!--<h1 style="color: #ff4157; padding: 20px 0px 20px;font-size: 40px">Prise: 999 $</h1>-->
        <div class="text-center mx-auto">
          <button type="submit" class=" btn btn-block btn-danger btn-lg"  data-toggle="modal" data-target="#toUpModal">Забронировать</button>
        </div>
      </form>
    </div>
  </div>
</section>


