<section class="contact-block">
  <div class="container">
      <div class="list-group full-width-div  col-10 table-responsive">
        <a href="#" class="list-group-item  ">
          <table class="table">
            <tr><th>

              <img src="../../../../../assets/images/icons/living-room-512.png" height="60" width="60"/></th><th>
              <h2>Room tipe</h2>
              <h5>Royal luxury</h5>
            </th><th>
              <h2>Prise</h2>
              <h5>999$</h5>
            </th><th>
              <h2>Dates</h2>
              <h5>2015.26.12 - 2001.11.12</h5>
            </th></tr>
          </table>
        </a>
        <a href="#" class="list-group-item ">
          <table class="table">
            <tr><th>
              <img src="../../../../../assets/images/icons/event.png" height="60" width="60"/>
            </th><th>
              <h2>Event name</h2>
              <h5>Strip</h5>
            </th><th>
              <h2>Prise</h2>
              <h5>99$</h5>
            </th><th>
              <h2>Dates</h2>
              <h5>2015.26.12 - 2001.11.12</h5>
            </th></tr>
          </table>
        </a>
        <a href="#" class="list-group-item ">
          <table class="table">
            <tr><th>
              <img src="../../../../../assets/images/icons/conf.png"  height="60" width="60"/>
            </th><th>
              <h2>Conference topic</h2>
              <h5>SAP</h5>
            </th><th>
              <h2>Prise</h2>
              <h5>849$</h5>
            </th><th>
              <h2>Dates</h2>
              <h5> 2017.11.12</h5>
            </th></tr>
          </table>
        </a>
      </div>
  </div>
</section>
