<section class="contact-block">
  <div class="container">
    <h2 style="font-size: 40px">History:</h2>
    <div class="list-group full-width-div  col-12 table-responsive">
      <table class="table">

        <tr *ngFor="let reservation of reservations;  let i = index">
          <th>
            <img src="../../../../../assets/images/icons/living-room-512.png" height="60" width="60"/></th>
          <th>
            <h2>Room type</h2>
            <h5>{{reservation.room.roomType}}</h5>
          </th>
          <th>
            <h2>Prise</h2>
            <h5>{{reservation.room.price}}</h5>
          </th>
          <th>
            <h2>Dates</h2>
            <h5>{{reservation.dateFrom}}-{{reservation.dateTo}}</h5>
          </th>
        </tr>

        <tr *ngFor="let eventrecord of eventrecords; let i = index">
          <th>
            <img src="../../../../../assets/images/icons/event.png" height="60" width="60"/>
          </th>
          <th>
            <h2>Event name</h2>
            <h5>{{eventrecord.evet.name}}</h5>
          </th>
          <th>
            <h2>Prise</h2>
            <h5>{{eventrecord.event.price}}</h5>
          </th>
          <th>
            <h2>Dates</h2>
            <h5>{{eventrecord.timeFrom}} - {{eventrecord.timeTo}}</h5>
          </th>
        </tr>
      </table>
    </div>
  </div>
</section>
