<section class="gallery-block gallery-front">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="gallery-image">
          <img class="img-responsive" src="../../../../../assets/images/room1.png">
          <div class="overlay">
            <a class="info pop example-image-link img-responsive" href="../../../../../assets/images/room1.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
            <p><a>delux room</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="gallery-image">
          <img class="img-responsive" src="../../../../../assets/images/room2.png">
          <div class="overlay">
            <a class="info pop example-image-link img-responsive" href="../../../../../assets/images/room2.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
            <p><a>super room</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="gallery-image">
          <img class="img-responsive" src="../../../../../assets/images/room3.png">
          <div class="overlay">
            <a class="info pop example-image-link img-responsive" href="../../../../../assets/images/room3.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
            <p><a>single room</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="gallery-image">
          <img class="img-responsive" src="../../../../../assets/images/room4.png">
          <div class="overlay">
            <a class="info pop example-image-link img-responsive" href="../../../../../assets/images/room4.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
            <p><a>double room</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
